@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
*/
:root{
    --cor-whitesmoke: #cddce4;
    --cor-yellow-gold: #f9c013;
    --cor-red-dark: #95190C;
    --cor-pink: #fe00b3;
    --cor-black-blue: #000528;
    --cor-blue: #01249c;
    --cor-blue-2: #0077b6;
    --cor-blue-clean: #0f65e8;
    --cor-blue-bb: #7F96FF;
    --cor-blue-dark: #000741;
    --cor-violet: #483D8B; 
    --cor-purple: #483D8B;
    --cor-black: #171515;   
}
/* Geral */
*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

nav a{
    color: var(--cor-violet);
    text-decoration: none;
    padding: 8px 16px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
    border-radius: 12px 0;

}
nav a:hover{
    transition-duration: 0.3s;
    box-shadow:none;
    color: var(--cor-yellow-gold);
}

h2{
    font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-decoration: none;
}

ul{
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}
hr{
    border: none;
}
nav{
    margin-right: 48px;
}
button:hover{
    cursor: pointer;
}

/* Especificos */
header{
    background-color: #000741;
    height: 10vh;
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 48px rgb(0, 0, 0, 0.05);
}
#Camada_1{
    height: 50px;
    margin-left: 20%;
    fill: whitesmoke;
    transition-duration: 0.4s;
}
#Camada_1:hover{
    transition-duration: 0.4s;
    fill: var(--cor-yellow-gold);
    border-bottom: 4px solid var(--cor-yellow-gold);    
}

#navbar-menu{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.line{
    width: 24px;
    height: 2px;
    background-color: whitesmoke;
    margin: 8px;
}

.navbar-responsive{
    margin-right: 080px;
    border-radius: 50%;
    cursor: pointer;
}
#navbar-items{
    position: absolute;
    top: 12vh;
    right: 0;
    width: 160px;
    height: 25vh;
    background-color:#fff;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
    justify-content: space-around;
    box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.1);
    transform: translateX(100%);
}

.navbar-item{
    margin: auto;
    padding: 1px 8px;
    box-shadow: none;
    border-radius: 0;
    font-weight: 500;
}
.navbar-item:hover{
    transition-duration: 0.2s;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom: 2px solid #483D8B;
    color: #483D8B;
}

main{
    width: 100%;
    margin: auto;
}



#sec-intro{
    /*
        IMAGEM BACKGROUND
    */
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    min-width: 100%;
    width: 60%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}
#sec-intro h1{
    margin-top: -80px;
    font: normal 900 5em 'Inter', sans-serif;
    letter-spacing: -4px;
    word-break: keep-all;
}

#sec-intro h2{
    color: whitesmoke;
    font-family: monospace;
    font-size: 2.4em;
    letter-spacing: 6px;
    font-weight: 600;
    padding-top: 8px;
    text-shadow: 2px 3px 6px rgba(0,0,0,0.5);
}

#sec-intro a{
    color: whitesmoke;
    line-height: -500px;
    transition-duration: 1s;
    box-shadow: none;
}
#sec-intro a:hover{
    color: var(--cor-yellow-gold);
    text-shadow: 2px 3px 6px rgba(0,0,0,0.3);
    text-decoration: underline;
}



#sec-proj,
#sec-ctt{
    color: #cddce4;
    padding: 48px 0;
    text-align: center;
}
#sec-proj a,
#sec-ctt a{
    color: #cddce4;
}
#sec-ctt ul,
#sec-proj ul{
    margin-right: 8px;
}
#sec-proj a:hover,
#sec-ctt a:hover {
   background-color: var(--cor-whitesmoke);
   color: var(--cor-blue-dark);
}
#sec-proj > h2,
#sec-ctt > h2{
    text-transform: uppercase;
    padding: 48px 0;
    font-size: 2.0em;
    font-family: 'Inter', sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
    text-shadow: 4px 2px 8px rgba(0,0,0,0.15);
}



#sec-proj{
    background-image: linear-gradient(to right, #4facfe 10%,  #0077b6 100%);
}
#projetos{
    background-color: black;
}
#sec-in-proj {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.pic-proj{  
    display: flex;

}
#proj-01,
#proj-02,
#proj-03{
    height: 450px;
    width: 300px;
    background-color: #f4f6ff;
    border-radius: 16px;
    transition-duration: 0.4s;
}
#proj-01:hover,
#proj-02:hover,
#proj-03:hover{
    transition-duration: 0.4s;
    border-radius: 16px;
    box-shadow: 24px 18px 32px rgb(0, 0, 0, 0.2);
    height: 460px;
}

.proj-title{
    margin: 16px auto;
}
#pic-proj-01,
#pic-proj-02,
#pic-proj-03{
    margin: 16px auto;
    height: 200px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition-duration: 0.4s;
}
#pic-proj-01:hover,
#pic-proj-02:hover,
#pic-proj-03:hover{
    transition-duration: 0.4s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.proj-in{   
    color: #000741;
}

.proj-desc{
    margin: auto;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.html,
.css,
.js{
    padding: 6px 18px;
    border-radius: 20px;
    font-weight: 500;
    transition: ease 300ms;
}
.html:hover{
    background-color: #E96228;
    color: whitesmoke;
    cursor: pointer;
}
.css:hover{
    background-color: #254BDD;
    color: whitesmoke;
    cursor: pointer;
}
.js:hover{
    background-color: #EFD81D;
    cursor: pointer;
}

.proj button{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    padding: 8px 32px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #000741;
    border: 2px solid #000741;
    border-radius: 30px;
}
.proj button:hover{
    transition-duration: 0.3s;
    font-weight: 600;
    background-color:#000741;
    color: #e2e7ff;
}

#sec-ctt{
    height: 80vh;
    background-color:#000741;
    color: var(--cor-whitesmoke);
    text-align: center;
}
